.poll {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 5rem;

  @media (min-width: 900px) {
    flex-direction: row;
  }

  & > mat-card {
    height: 25rem;
    display: flex;
    flex-direction: column;

    & > mat-card-content {
      flex-grow: 1;
    }

    & > mat-card-actions > button {
      background-color: lightsalmon;
      color: white;
      width: 100%;
    }
  }

  h2 {
    & > span {
      color: lightsalmon;
    }
    margin-bottom: 8px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;

    & > h1 {
      color: lightsalmon;
      font-weight: 600;
    }

    & > div {
      & > form {
        display: flex;
        flex-direction: column;
      }

      & > button {
        color: white;
        background-color: lightsalmon;
      }
    }
  }

  &__info {
    display: flex;
    justify-content: center;

    & > canvas {
      min-height: 12rem;
    }
  }
}
