<div class="home">
  <mat-card>
    <img mat-card-image src="assets/img/title.png">
    <mat-card-content>
      <h2>¡Bienvenido a <span>Churritos</span>!</h2>
      <p>Sirve para alguna cosa más</p>
      <mat-form-field appearance="outline">
        <mat-label>Número de encuesta</mat-label>
        <input matInput [formControl]="pollNumberControl" inputmode="numeric" (keydown)="onlyNumbers($event)">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="handleSubmit()" mat-button>Unirte</button>
    </mat-card-actions>
  </mat-card>
</div>
